body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.map-container {
  height:100vh;
}
.main{
  display: flex;
  
}
.footer {
  
  color: orangered ;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 2px;
  margin-left: auto;
  left:40vw;
  font-size: 20px;
  margin: 12px;
  border-radius: 4px;
}
.navbar {
  height: 10vh;
  text-align: center;
  justify-content: center;
  color: tomato;
  font-weight: bold;
  display: flex;
  margin-top: 4px;
  font-family: monospace;
  text-align: center;
  font-size: 20px;


}
.total{
  display: flex;
  flex-direction: column;
  text-align: end;
}
.value{
 
  font-weight: bold;
  color: green;
}
.infobox{
  display: flex;
  flex-direction: column;
  
  width: 20vw;
  color: black;
  margin: 2px;
  height: 40vh;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  overflow-wrap: normal;
  background-color: white;
  padding: 3px;
 
}

.infobox label{
   color: rgb(41, 40, 40);
  margin-right: 4px;

 
}
.infobox h4 {
  font-size: 20px;
  text-align: center;
  color: black;

}
.infobox ul{
  justify-content: center;
  margin-top: 8px;
  padding: 0;
  
  list-style: none;
  font-size: medium;
}
.infobox ul li{
 margin: 6px 8px;
}
.infobox h4{
  padding: 0;
  margin: 0;
}
.infobox ul li a{
  color: #645CBB;
}
.rightbox{
  top: 0;
  width: 22vw;
  height: 100vh;
  background: white;
}
.calamties_chart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 20vw;
  background: white;
}
.calamties_chart label{
  margin:  auto;
}



.loader-line {
  width: 200px;
  height: 3px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin: 100px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: coral;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
      left: -40%;
  }
  50% {
      left: 20%;
      width: 80%;
  }
  100% {
      left: 100%;
      width: 100%;
  }
}    
